*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.barra_navegacion {
    width: 100%;
    height: 40px;
    background-color: rgb(238, 170, 224);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.link {
    width: max-content;
    height: max-content;
    padding: 10px 8px;
    background-color: rgb(21, 178, 196);
    border-radius: 10px;
    text-transform: uppercase;
    transition: 1s;
    color: black;
}

.link:hover {
    color: white;
    transform: scale(1.05) translate(4px);
    background-color: rgb(23, 228, 251) ;
}
video {
    transition: 1s;
}
video:hover {
    transform: scale(1.09) translate(5px);
}
img {
    border-image-width: 10px;
    transition: 1s;
    text-align: center;
    padding: 10px;
    background-color: rgb(21, 178, 196);
    border-radius: 10px;
    text-transform: uppercase;
    transition: 1s;
    color: black;
}
img:hover {
    transform: scale(1.05) translate(5px);
}
h1 {
    text-align: center;
    font-size: 50px;
    font-family: arial;
    text-transform: uppercase;
}
h2 {
    text-align: center;
    font-size: 30px;
    font-family: arial;
    text-transform: capitalize;
}
h3 {
    text-align: center;
    font-size: 25px;
    font-family: arial;
    text-transform: capitalize;
}
body {
    align-items: center;
    background-image: url('./imagenes/marco-ingredientes-alimentarios-hornear-sobre-fondo-pastel-suavemente-rosa-cocinar-plano-espacio-copia-vista-superior-concepto-horneado-endecha-plana_127032-2200.avif'); 
    background-size: cover; 
    background-position: center;
    height: 100vh; 
    margin: 0; 
    color: black; 
    font-family: sans-serif; 
    text-align: center;
 }



